---
import type { Database } from '@/database.types'

import { Card } from '@prodkt/ui/prodkt-components/card'

import Layout from '@/layouts/PublicLayout.astro'
import { formatDate } from '@/utils/formatDate'

import PageHeader from '../../components/page-header.astro'
import { GET } from './index.json'

type Repos = Database['public']['Tables']['repos']['Row']

interface RepoData {
  repos: Repos[]
}
const response = await GET(Astro)
const data = (await response.json()) as RepoData
---

<Layout>
  <div
    class='flex flex-col items-stretch justify-stretch px-6 gap-6 sm:px-12 lg:px-16 lg:gap-12 py-20 sm:py-24'
  >
    <PageHeader
      fullWidth
      text='Repos'
      bullet1='Design'
      bullet2='Previous works'
      bullet3='Visuals'
      bullet4='Concepts'
    />
    <div
      class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 items-stretch space-x-0 justify-stretch gap-6 xl:gap-16'
    >
      {
        data ? (
          data.repos.map((repo: any) => (
            <Card
              className='col-span-1 h-full'
              key={repo.id}
              alt={repo.title}
              link={`/repos/${repo.gitLabRepo.namespace.name}/${repo.gitLabRepo.path}`}
              image={repo.image.filename_disk}
              title={repo.title}
              excerpt={repo.excerpt}
              date={formatDate(repo.date_created)}
              buttonText='View Repo'
            />
          ))
        ) : (
          <p>Loading...</p>
        )
      }
    </div>
  </div>
</Layout>
