---
import { cva } from 'class-variance-authority'

import { cn } from '@prodkt/ui/cn/cn'

const pageHeaderVariants = cva('', {
  variants: {
    variant: {
      default: ({
        minimal,
        fullWidth,
      }: {
        minimal?: boolean
        fullWidth?: boolean
      }) =>
        cn(
          !minimal ? 'justify-center' : '',
          fullWidth ? 'w-full mx-0' : 'mx-auto',
          'flex flex-col items-center justify-between gap-20  relative h-auto',
        ),
    },
  },
  defaultVariants: {
    variant: 'default',
  },
})

interface Props {
  text?: string
  bullet1?: string
  bullet2?: string
  bullet3?: string
  bullet4?: string
  minimal?: boolean
  fullWidth?: boolean
  className?: string
  variant?: 'default'
}
const {
  className,
  minimal = false,
  fullWidth = false,
  variant = 'default',
  text = 'Codeblocks',
  bullet1,
  bullet2,
  bullet3,
  bullet4,
} = Astro.props
---

<div class={cn(pageHeaderVariants({ variant }), className)}>
  <h1
    class={cn(
      !minimal
        ? 'text-[8.925rem] text-center  tracking-tighter mb-12  after:left-0 after:right-0 leading-[75%]'
        : 'text-left text-[5.925rem] tracking-[-0.325rem] font-normal  after:left-0 after:right-auto leading-[64%] mb-8',
      !fullWidth
        ? 'w-[743px] after:mx-auto  after:w-1/2'
        : 'block after:ml-0 mr-0 max-w-[calc(100%_-_4rem)] text-left px-10 after:w-1/4',
      'prodkt-creative-h1 mx-auto relative z-[4] mt-20 after:absolute after:h-1/2 after:top-0 after:bg-[var(--grayA7)] after:blur-2xl after:mix-blend-soft-light',
    )}
  >
    {text}
    <div
      class='z-[-1] absolute inset-x-1/2 -top-1/2 mx-auto mb-auto mt-0 h-[200%] w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>
    <div
      class='z-[-1] absolute -top-1/2 left-1/4 mx-auto mb-auto mt-0 h-[200%] w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>
    <div
      class='z-[-1] absolute -top-1/2 right-1/4 mx-auto mb-auto mt-0 h-[200%] w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>

    <div
      class='z-[-1] absolute -left-0 -top-1/2 mb-auto mt-0 h-[200%] w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>
    <div
      class='z-[-1] absolute -right-0 -top-1/2 mb-auto mt-0 h-[200%] w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>

    <div
      class='z-[-1] absolute -left-0 -top-10 bottom-auto mb-auto mt-0 h-20 w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>
    <div
      class='z-[-1] absolute -left-10 -top-0 bottom-auto mb-auto mt-0 h-px max-h-px w-20 rounded-none bg-gradient-to-r from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>

    <div
      class='z-[-1] absolute -right-0 -top-10 bottom-auto mb-auto mt-0 h-20 w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>
    <div
      class='z-[-1] absolute -right-10 -top-0 bottom-auto mb-auto mt-0 h-px max-h-px w-20 rounded-none bg-gradient-to-r from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>

    <div
      class='z-[-1] absolute -bottom-10 -left-0 top-auto mb-auto mt-0 h-20 w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>
    <div
      class='z-[-1] absolute -bottom-0 -left-10 top-auto mb-auto mt-0 h-px max-h-px w-20 rounded-none bg-gradient-to-r from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>

    <div
      class='z-[-1] absolute -bottom-10 -right-0 top-auto mb-auto mt-0 h-20 w-px max-w-px rounded-none bg-gradient-to-b from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>
    <div
      class='z-[-1] absolute -bottom-0 -right-10 top-auto mb-auto mt-0 h-px max-h-px w-20 rounded-none bg-gradient-to-r from-[var(--grayA1)] via-[var(--grayA3)] to-[var(--grayA1)]'
    >
    </div>

    <div
      class='z-[-1] absolute -left-1 -top-1 bottom-auto mb-auto mt-0 size-2 rounded-none border border-ghost-a7 bg-ghost-aa7'
    >
    </div>
    <div
      class='z-[-1] absolute -right-1 -top-1 bottom-auto mb-auto mt-0 size-2 rounded-none border border-ghost-a7 bg-ghost-aa7'
    >
    </div>
    <div
      class='z-[-1] absolute -bottom-1 -left-1 top-auto my-0 size-2 rounded-none border border-ghost-a7 bg-ghost-aa7'
    >
    </div>
    <div
      class='z-[-1] absolute -bottom-1 -right-1 top-auto my-0 size-2 rounded-none border border-ghost-a7 bg-ghost-aa7'
    >
    </div>
  </h1>
  <div
    class={cn(
      !minimal
        ? 'text-[8.925rem] text-center  tracking-tighter mb-12  after:left-0 after:right-0 leading-[75%]'
        : 'text-left text-[5.925rem] tracking-[-0.325rem] font-normal  after:left-0 after:right-auto leading-[64%] mb-8',
      !fullWidth
        ? 'w-[743px] mx-auto grid grid-cols-4 items-center justify-center'
        : 'w-[calc(100%_-_4rem)] mx-auto text-left flex flex-row items-center justify-start gap-8',
      '',
    )}
    class=''
  >
    <p
      class='col-span-1 font-mono uppercase text-sm tracking-widest font-normal text-transparent bg-gradient-to-b from-[var(--grayA9)] to-[var(--gray1)] bg-clip-text'
    >
      {bullet1}
    </p>
    <p
      class='col-span-1 font-mono uppercase text-sm tracking-widest font-normal text-transparent bg-gradient-to-b from-[var(--grayA9)] to-[var(--gray1)] bg-clip-text'
    >
      {bullet2}
    </p>
    <p
      class='col-span-1 font-mono uppercase text-sm tracking-widest font-normal text-transparent bg-gradient-to-b from-[var(--grayA9)] to-[var(--gray1)] bg-clip-text'
    >
      {bullet3}
    </p>
    <p
      class='col-span-1 font-mono uppercase text-sm tracking-widest font-normal text-transparent bg-gradient-to-b from-[var(--grayA9)] to-[var(--gray1)] bg-clip-text'
    >
      {bullet4}
    </p>
  </div>
</div>

<style>
  .prodkt-creative-h1 {
    text-shadow:
      0px 4px 64px var(--gray1),
      0px 4px 24px var(--gray1),
      0px 1px 1px var(--gray6);
    @apply bg-gradient-to-b from-[var(--gray12)] to-[var(--gray1)] brightness-[2] contrast-50 dark:brightness-[1.2] dark:contrast-100;
    @apply bg-clip-text text-transparent px-2 py-2;

    leading-trim: both;
    text-edge: cap;
  }
</style>
